.home {
    background: url('../../images/bg-img.jpg');
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
    height: 100vh;
}
.home-transports-container {
    height: 80vh;
}

@media (max-width: 576px) {
    
    
}